{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'profiles/profile.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
profile
{% endblock title %}

{% block content %}
    <h3>{{obj.user}}</h3>
    <hr>
    <div class="text-center" id="avatar-box">
        <img src="{{obj.avatar.url}}" class="rounded" height="200px" width="auto" alt="{{obj.user.username}}">
    </div>
    <form id="profile-form">
        {% csrf_token %}
        <p><b>Bio:</b></p>
        <p>{{obj.bio}}</p>
        <button id="back-btn" class="btn btn-info">back</button>
    </form>
{% endblock content %}